<div>
    
    <h1 class="section-title text-center">Bienvenue dans le réseau social des extraterrestres</h1>
    <h4 class="text-center">Soyez les bienvenues parmi nous</h4>
    <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12 text-center">
        <div class="landing-panel center-block">
            <h3 class="section-title">S'inscrire</h3>
            
            <h3>Entrez Un Nom D'Utilisateur</h3>
            <input type="text" ng-model="newUser.username" maxlength="40"/>
        
            <h3>Entrer Votre Email</h3>
            <input type="email" ng-model="newUser.email"/>

            <h3>Entrer Votre Age</h3>
            <input type="text" ng-model="newUser.age"/>

            <h3>Sélectionnez Votre Origine</h3>
            <select ng-model="newUser.origin">
              <option value="Alien">Alien</option>
              <option value="Daleks">Daleks</option>
              <option value="Kzinti">Kzinti</option>
              <option value="Martien">Martien</option>
              <option value="Protoss">Protoss</option>
              <option value="Vogon">Vogon</option>
            </select>

            <h3>Sélectionnez Votre Famille</h3>
            <select ng-model="newUser.famille">
              <option value="Xénomorphe">Xénomorphe</option>
              <option value="Ewoks">Ewoks</option>
              <option value="Klingons">Klingons</option>
              <option value="Yautja">Yautja</option>
              <option value="Vulcains">Vulcains</option>
              <option value="Wookiees">Wookiees</option>
            </select>

            <h3>Sélectionnez Votre Race</h3>
            <select ng-model="newUser.race">
              <option value="METAPHORES">METAPHORES</option>
              <option value="EBE">EBE</option>
              <option value="NORDIQUES">NORDIQUES</option>
              <option value="ANCIENTS">ANCIENTS</option>
              <option value="HYBRIDES">HYBRIDES</option>
            </select>

            <h3>Sélectionnez Votre Nourriture</h3>
            <select ng-model="newUser.nourriture">
              <option value="Pierre">Pierre</option>
              <option value="Sable">Sable</option>
              <option value="Bois">Bois</option>
            </select>
        
            <h3>Sélectionnez Votre Mot De Passe</h3>
            <input type="password" ng-model="newUser.user_password" /> <br>
        
            <button class="cta-button" ng-click="createUser(newUser)">Inscription</button>
        </div>
        
    </div>
    
    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
        <div class="landing-panel center-block">
            <h3 class="section-title">Se Conncter</h3>
            <h3>Votre Nom D'Utilisateur Ou Email</h3>
            <input type="text" ng-model="existingUser.loginName" />
        
            <h3>Votre Mot De Passe</h3>
            <input type="password" ng-model="existingUser.password" /> <br>
        
            <button class="cta-button" ng-click="logUserIn(existingUser)">Connexion</button>
        </div>
    </div>
    
</div>